/ojoooad.com/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
#/composer.phar
/composer.lock
/.idea/
/ojoooad.com/uploads/admin/blog/banners/
/ojoooad.com/uploads/user/blog/avatar/
/ojoooad.com/uploads/user/blog/header/