Dear {{ user }}
<br><br>
Thank you for contacting us. This is an automated response confirming the receipt of your ticket. One of our agents will get back to you as soon as possible. For your records, the details of the ticket are listed below. When replying, please make sure that the ticket ID is kept in the subject line to ensure that your replies are tracked appropriately.
<br><br>
Ticket ID: {{ ticket }}
<br>
Subject: {{ subject }}
<br>
Status: Open
<br>

Regards,
<br><br>
You can check the status of or reply to this ticket online at:
<br>
<a href="http://ojoooad.com/office/support">http://ojoooad.com/support</a>