{% block checkbox_widget -%}
    <div class="checkbox">
        <label>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {{ form.vars.name|trans }}
        </label>
    </div>
{%- endblock checkbox_widget %}