{% extends ':admin:admin_base.html.twig' %}

{% block content_title %}
    <i class="fa fa-dashboard"></i>&nbsp; Home - Login log
{% endblock content_title %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <header>
                    <div class="icons">
                        <i class="fa fa-table"></i>
                    </div>
                    <h5>Login log</h5>
                </header>
                <div class="body" id="collapse4">
                    {{ grid(grid, ':admin:admin_grid.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}

{% endblock js %}